[defaults]
inventory = inventory/hosts
remote_user = ubuntu
roles_path = ./roles
deprecation_warnings= False
host_key_checking = False
any_errors_fatal = True
vault_password_file = .vault-pass
interpreter_python = auto_silent
