services:
  {{ mariadb_container }}:
    container_name: {{ mariadb_container }}
    build: {{ target_mariadb_path }}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", {{ wp_db_name }}, -p{{ wp_db_pass }}]
      timeout: 5s
      retries: 5
      interval: 10s
    volumes:
      - {{ mariadb_volume }}:/var/lib/mysql
    restart: always
    environment:
        MYSQL_ROOT_PASSWORD: {{ wp_db_pass }}	
        WORDPRESS_DB_NAME: {{ wp_db_name }}	
        WORDPRESS_DB_USER: {{ wp_db_name }}	
        WORDPRESS_DB_PASSWORD: {{ wp_db_pass }}
    networks: 
       - {{ network_name }}

  {{ phpmyadmin_container }}:
    container_name: {{ phpmyadmin_container }}
    image: {{ phpmyadmin_container }}
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost/index.php || exit 1 " ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    depends_on:
      {{ mariadb_container }}:
        condition: service_healthy
    environment:
      PMA_HOST: {{ mariadb_container }}
    ports:
      - "8080:80"
    networks:
      - {{ network_name }}

  {{ wordpress_container }}:
    container_name: {{ wordpress_container }}
    build: {{ build_dir }}/{{ wordpress_container }}
    restart: always
    depends_on:
      {{ phpmyadmin_container }}:
          condition: service_healthy
    volumes:
      - {{ mariadb_volume }}:/var/lib/mysql
      - {{ wordpress_volume }}:/var/www/html
    healthcheck:
      test: ["CMD", "nc", "-z", "127.0.0.1", "9000"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    environment:
      WORDPRESS_DB_NAME: {{ wp_db_name }}
      WORDPRESS_DB_USER: {{ wp_db_name }}
      WORDPRESS_DB_PASSWORD: {{ wp_db_pass }}
      WORDPRESS_DB_HOST: {{ mariadb_container }}
      WP_DB_PORT: {{ mariadb_container_port }}
      WP_SITE_URL: "nhayoun.42.fr"
      WP_SITE_TITLE: "cloud-1"
      WP_ADMIN_USER: "wp_admin_user"
      WP_ADMIN_PASSWORD: "wp_admin_pass"
      WP_ADMIN_EMAIL: "admin@42.fr"
    networks:
      - {{ network_name }}

  {{ nginx_container }}:
    container_name: {{ nginx_container }}
    build: {{ build_dir }}/{{ nginx_container }}
    depends_on:
      {{ wordpress_container }}:
        condition: service_healthy
    volumes:
      - {{ wordpress_volume }}:/var/www/html
    restart: always
    ports:
      - "443:443"
    environment:
      DOMAIN_NAME: "nhayoun.42.fr"
    networks:
      - {{ network_name }}


volumes:
  {{ mariadb_volume }}:
  {{ wordpress_volume }}:

networks:
  {{ network_name }}:
